body {
  background: url("./ccc.jpg");
  position: absolute;
  width: 100%;
  min-height: 1000px; 
  font-family: "Arial";
}
.wrapper{ 
  display: flex;
  margin: 80px auto;
  justify-content: center;
  align-items: center; 
}

